@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  background: #eff1f2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 220px;
  border: 1px solid #eee;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #eee;
}
